{% assign leaders = include.section.group_leaders %}
<div class="ru-leaders-table">
  {% for leader in leaders %}
    {% assign uni_lower = leader.uni | downcase %}
    <div class="ru-leader-row">
      <div class="ru-leader-left">
        <div class="ru-leader-avatar">{{ leader.initials }}</div>
        <div class="ru-leader-meta">
          <p class="ru-leader-name">{{ leader.name }}</p>
          <p class="ru-leader-dept">{{ leader.department }}</p>
          <span class="ru-leader-uni ru-leader-uni--{{ uni_lower }}">{{ leader.uni }}</span>
        </div>
      </div>
      <div class="ru-leader-right">
        {% if leader.quote %}<p class="ru-leader-quote">{{ leader.quote }}</p>{% endif %}
      </div>
    </div>
  {% endfor %}
</div>
